.home {
  margin: 30px 0;
}

.blogCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
  a {
    color: $light-blue;
  }

  &--title {
    color: #fff;
  }
}

.articleContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 40px;
}