.forgetPassword {
  color: #fff;
  width: 100%;
  max-width: 400px;
  margin-top: 40px !important;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  button {
    background: $accent-color;
    width: 80px;
    height: 35px;
    line-height: 35px;
    color: #fff;

    &.disabled {
      background: $dark-accent;

      &:hover {
        background: $dark-accent;
      }
    }

    &:hover {
      background: $accent-hover;
    }
  }
}