.blogDetail {
  color: #fff;
  padding: 20px 0;

  &__title {
    text-align: center;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0;

    p a {
      color: $light-blue;
    }

    & > * + * {
      margin-left: 30px;
    }
  }

  &__comment {
    margin-top: 30px;

    h2 {
      margin-bottom: 30px;
    }
  }

  &__loginLink {
    margin-bottom: 30px;
    margin-top: -20px;

    a {
      color: $light-blue;
      text-decoration: underline;
    }
  }
}