@import
  './config',
  './global/navbar',
  './global/spinner',
  './global/message',
  './global/pagination',
  './global/warning',
  './global/article',
  './home/home',
  './home/header',
  './home/filter',
  './home/tag',
  './home/articleCard',
  './login/login',
  './login/verifyModal',
  './register/register',
  './blog/blogDetail',
  './comment/comment',
  './comment/commentList',
  './comment/replyInput',
  './profile/profile',
  './createBlog/createBlog',
  './blogs/blogs';

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  outline: none;
  transition: 300ms;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0 ,0, 0, .5);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.clear {
  clear: both;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: 2px solid #fff;
  outline-offset: 2px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.container {
  width: 88%;
  margin: auto;
}

.inputGroup {
  margin-bottom: 20px;

  input {
    width: 100%;
    border-radius: 6px;
    height: 40px;
    background: $secondary-color;
    border: none;
    outline: none;
    margin-top: 10px;
    text-indent: 10px;
    color: #fff;

    &:focus {
      outline: 2px solid $light-blue;
      outline-offset: -2px;
    }
  }

  textarea {
    width: 100%;
    height: 100px;
    background: $secondary-color;
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 15px;
    color: #fff;
    border-radius: 6px;
    resize: none;
  }

  select {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 6px;
    background: $secondary-color;
    border: none;
    outline: none;
    color: #fff;
    text-indent: 10px;
  }

  &--phone {
    display: flex;

    div {
      background: $ternary-color;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
    }

    input {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &--password {
    position: relative;

    input {
      padding-right: 35px;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-3px);
      color: $ternary-color;
      cursor: pointer;
    }
  }

  .forgetPassword {
    color: $light-blue;
    margin-top: 5px;
    font-size: 15px;
    display: block;
  }
}